<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://114.115.221.70:8083/hxt/hxtIos0100.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier2</key>
                <string>com.atnc.hxt</string>
                <key>bundle-version</key>
                <string>V1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>航信通</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
